openapi: 3.0.0
info:
  version: 1.0.0
  title: SwimLogs API
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  description: Openapi specification for SwimLogs API.
servers:
  - url: https://www.swimlogs.com/api
    description: Prod backend server
tags:
  - name: Trainings
paths:
  /trainings:
    post:
      summary: Create new training
      tags:
        - Trainings
      operationId: createTraining
      requestBody:
        $ref: '#/components/requestBodies/CreateTrainingRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateTrainingReponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /trainings/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      summary: Get a training by id
      tags:
        - Trainings
      operationId: trainingById
      responses:
        '200':
          $ref: '#/components/responses/TrainingResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    patch:
      summary: Edit training session
      tags:
        - Trainings
      operationId: editTrainingSession
      requestBody:
        $ref: '#/components/requestBodies/EditSessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/EditSessionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    delete:
      summary: Delete a training
      tags:
        - Trainings
      operationId: deleteTraining
      responses:
        '204':
          description: Training was deleted
        '404':
          $ref: '#/components/responses/ErrorResponse'
  /sets/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    patch:
      summary: Edit set
      tags:
        - Sets
      operationId: editSet
      requestBody:
        $ref: '#/components/requestBodies/EditSetRequest'
      responses:
        '200':
          $ref: '#/components/responses/TrainingResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    put:
      summary: Replace set's components
      tags:
        - Sets
      operationId: replaceSetComponents
      requestBody:
        $ref: '#/components/requestBodies/ReplaceSetComponentsRequest'
      responses:
        '200':
          $ref: '#/components/responses/TrainingResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    delete:
      summary: Delete a set
      tags:
        - Sets
      operationId: deleteSet
      responses:
        '204':
          description: Set was deleted
        '404':
          $ref: '#/components/responses/ErrorResponse'
  /sets/{id}/move:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    patch:
      summary: Move set up or down in training
      tags:
        - Sets
      operationId: moveSet
      requestBody:
        $ref: '#/components/requestBodies/MoveSetRequest'
      responses:
        '200':
          $ref: '#/components/responses/TrainingResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
  /trainings/summaries:
    get:
      summary: Training summaries
      tags:
        - Trainings
      operationId: summariesPage
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/UntilParam'
        - $ref: '#/components/parameters/WithMainSetsParam'
      responses:
        '200':
          $ref: '#/components/responses/TrainingSummariesResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    BaseTraining:
      type: object
      properties:
        start:
          type: string
          format: date-time
          description: On what date and time does the training occur
        durationMinutes:
          type: integer
          description: How long does the session last, in minutes
          minimum: 1
          maximum: 30000
    EquipmentEnum:
      type: string
      enum:
        - fins
        - monofin
        - snorkel
        - board
        - paddles
        - parachute
        - pull_buoy
    StartWithSeconds:
      type: object
      properties:
        type:
          type: string
          enum:
            - pause
            - interval
        seconds:
          type: integer
          minimum: 1
          maximum: 30000
      required:
        - type
        - seconds
    StartWithoutSeconds:
      type: object
      properties:
        type:
          type: string
          enum:
            - last-finishes
      required:
        - type
    Start:
      oneOf:
        - $ref: '#/components/schemas/StartWithoutSeconds'
        - $ref: '#/components/schemas/StartWithSeconds'
      discriminator:
        propertyName: type
        mapping:
          pause: '#/components/schemas/StartWithSeconds'
          interval: '#/components/schemas/StartWithSeconds'
          last-finishes: '#/components/schemas/StartWithoutSeconds'
    GroupEnum:
      type: string
      enum:
        - freestyle
        - breaststroke
        - backstroke
        - butterfly
        - mono
        - bifi
        - sprint
        - middle
        - long
    TypeEnum:
      type: string
      enum:
        - normal
        - compound
        - pyramid
        - super
    IntensityEnum:
      type: string
      enum:
        - rec
        - en1
        - en2
        - en3
        - sp1
        - sp2
        - sp3
    ProgressionEnum:
      type: string
      enum:
        - asc
        - desc
    BaseTrainingSet:
      type: object
      properties:
        repeat:
          type: integer
          description: How many times to repeat this set
          minimum: 1
          maximum: 500
        distanceMeters:
          type: integer
          minimum: 1
          maximum: 30000
        description:
          type: string
          description: Description of what to swim
          example: Freestyle
        equipment:
          type: array
          items:
            $ref: '#/components/schemas/EquipmentEnum'
        start:
          $ref: '#/components/schemas/Start'
        group:
          $ref: '#/components/schemas/GroupEnum'
        isMain:
          type: boolean
        type:
          $ref: '#/components/schemas/TypeEnum'
        intensity:
          $ref: '#/components/schemas/IntensityEnum'
        progression:
          $ref: '#/components/schemas/ProgressionEnum'
    BaseSetComponent:
      type: object
      properties:
        repeat:
          type: integer
          minimum: 1
          maximum: 500
        distanceMeters:
          type: integer
          minimum: 1
          maximum: 30000
        description:
          type: string
        start:
          $ref: '#/components/schemas/Start'
        equipment:
          type: array
          items:
            $ref: '#/components/schemas/EquipmentEnum'
        group:
          $ref: '#/components/schemas/GroupEnum'
        intensity:
          $ref: '#/components/schemas/IntensityEnum'
        progression:
          $ref: '#/components/schemas/ProgressionEnum'
        componentOrders:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 49
        iterationOrder:
          type: integer
          minimum: 0
          maximum: 49
    NewSetComponent:
      allOf:
        - $ref: '#/components/schemas/BaseSetComponent'
        - type: object
          properties:
            styleId:
              type: string
              format: uuid
          required:
            - repeat
            - distanceMeters
            - componentOrders
    NewTrainingSet:
      allOf:
        - $ref: '#/components/schemas/BaseTrainingSet'
        - type: object
          properties:
            setOrder:
              type: integer
              description: Indicates on what place in training this set is
              minimum: 0
              maximum: 49
            styleId:
              type: string
              format: uuid
            components:
              type: array
              minItems: 1
              maxItems: 50
              items:
                $ref: '#/components/schemas/NewSetComponent'
          required:
            - setOrder
            - repeat
            - distanceMeters
            - type
    NewTraining:
      allOf:
        - $ref: '#/components/schemas/BaseTraining'
        - type: object
          properties:
            sets:
              minItems: 1
              maxItems: 50
              type: array
              items:
                $ref: '#/components/schemas/NewTrainingSet'
          required:
            - start
            - durationMinutes
            - sets
    Style:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 50
        execriseName:
          type: string
          maxLength: 50
        execriseDescription:
          type: string
      required:
        - id
        - name
    SetComponent:
      allOf:
        - $ref: '#/components/schemas/BaseSetComponent'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            style:
              $ref: '#/components/schemas/Style'
          required:
            - id
            - repeat
            - distanceMeters
            - componentOrders
    TrainingSet:
      allOf:
        - $ref: '#/components/schemas/BaseTrainingSet'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            setOrder:
              type: integer
              description: Indicates on what place in training this set is
            totalDistance:
              type: integer
              description: Total distance in this set
              example: 800
            style:
              $ref: '#/components/schemas/Style'
            components:
              type: array
              items:
                $ref: '#/components/schemas/SetComponent'
          required:
            - id
            - setOrder
            - type
            - repeat
            - distanceMeters
            - totalDistance
            - isMain
    Training:
      allOf:
        - $ref: '#/components/schemas/BaseTraining'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            totalDistance:
              type: integer
            sets:
              type: array
              items:
                $ref: '#/components/schemas/TrainingSet'
          required:
            - id
            - start
            - durationMinutes
            - sets
            - totalDistance
    ErrorDetail:
      type: object
      properties:
        title:
          type: string
          description: Short human-readable summary of the error
        status:
          type: integer
          description: HTTP result status
        code:
          type: string
          description: Machine understandable code of the error instance
        detail:
          type: string
          description: A human-readable explanation of the error
      additionalProperties: true
      required:
        - title
        - status
        - code
        - detail
    TrainingSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        start:
          type: string
          format: date-time
          description: On what date and time does the training occur
        durationMinutes:
          type: integer
          description: How long does the session last, in minutes
          example: 60
        totalDistance:
          type: integer
          description: Total distance in the training in meters
          example: 2200
        mainSets:
          type: array
          items:
            $ref: '#/components/schemas/TrainingSet'
      required:
        - id
        - start
        - durationMinutes
        - totalDistance
    Pagination:
      description: Pagination metadata about paginated response
      type: object
      properties:
        total:
          type: integer
          description: Total count of all items
          example: 13
        page:
          type: integer
          description: Number of page returned
          example: 0
        pageSize:
          type: integer
          description: How many items are in page
          example: 10
      required:
        - total
        - page
        - pageSize
  requestBodies:
    CreateTrainingRequest:
      description: Request for creating a training
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewTraining'
    EditSessionRequest:
      description: Request for editing a training session
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BaseTraining'
    ReplaceSetComponentsRequest:
      description: Replaces existing set components with new ones
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              components:
                type: array
                items:
                  $ref: '#/components/schemas/NewSetComponent'
            required:
              - components
    EditSetRequest:
      description: Request for editing a set. For editing components of the set use `PUT /sets/{id}`
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/BaseTrainingSet'
              - type: object
                properties:
                  styleId:
                    type: string
                    format: uuid
    MoveSetRequest:
      description: Request for moving set in order of training sets
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              newSetOrder:
                type: integer
                description: New setOrder of the set
                minimum: 0
                maximum: 49
            required:
              - newSetOrder
  responses:
    CreateTrainingReponse:
      description: New training was successfully created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Training'
    ErrorResponse:
      description: Describes error that occured during handling of a request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorDetail'
    TrainingResponse:
      description: Response with a training
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Training'
    EditSessionResponse:
      description: Training successfully edited
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TrainingSummary'
    TrainingSummariesResponse:
      description: Paginated list of training summaries
      content:
        application/json:
          schema:
            type: object
            properties:
              summaries:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingSummary'
              pagination:
                $ref: '#/components/schemas/Pagination'
            required:
              - summaries
              - pagination
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Id of a resource
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      required: true
      description: Which page to return, starts at 0
      schema:
        type: integer
        example: 0
        minimum: 0
    PageSizeParam:
      name: pageSize
      in: query
      required: true
      description: How many resources to return
      schema:
        type: integer
        example: 10
        minimum: 1
        maximum: 50
    FromParam:
      name: from
      in: query
      description: The beginning of the date time range.
      schema:
        type: string
        format: date-time
    UntilParam:
      name: until
      in: query
      description: The end of the date time range
      schema:
        type: string
        format: date-time
    WithMainSetsParam:
      name: withMainSets
      in: query
      description: If training summaries should contain main sets
      schema:
        type: boolean
