openapi: 3.0.0
info:
  version: 1.0.0
  title: SwimLogs API
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  description: Openapi specification for SwimLogs API.
servers:
  - url: https://www.swimlogs.com/api
    description: Prod backend server
tags:
  - name: Trainings
paths:
  /trainings:
    post:
      summary: Create new training
      tags:
        - Trainings
      operationId: createTraining
      requestBody:
        $ref: '#/components/requestBodies/CreateTrainingRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateTrainingReponse'
        '400':
          $ref: '#/components/responses/InvalidTrainingResponse'
  /trainings/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      summary: Get a training by id
      tags:
        - Trainings
      operationId: trainingById
      responses:
        '200':
          $ref: '#/components/responses/TrainingResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
    patch:
      summary: Edit training session
      tags:
        - Trainings
      operationId: editTrainingSession
      requestBody:
        $ref: '#/components/requestBodies/EditSessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/EditSessionResponse'
        '400':
          $ref: '#/components/responses/InvalidSessionResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
    delete:
      summary: Delete a training
      tags:
        - Trainings
      operationId: deleteTraining
      responses:
        '204':
          description: Training was deleted
        '404':
          $ref: '#/components/responses/NotFoundResponse'
  /sets/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    patch:
      summary: Edit set
      tags:
        - Sets
      operationId: editSet
      requestBody:
        $ref: '#/components/requestBodies/EditSetRequest'
      responses:
        '200':
          $ref: '#/components/responses/EditSetResponse'
        '400':
          $ref: '#/components/responses/InvalidSetResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
    delete:
      summary: Delete a set
      tags:
        - Sets
      operationId: deleteSet
      responses:
        '204':
          description: Set was deleted
        '404':
          $ref: '#/components/responses/NotFoundResponse'
  /sets/{id}/move:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    patch:
      summary: Move set
      tags:
        - Sets
      operationId: moveSet
      requestBody:
        $ref: '#/components/requestBodies/MoveSetRequest'
      responses:
        '200':
          $ref: '#/components/responses/TrainingResponse'
        '400':
          $ref: '#/components/responses/InvalidSetOrderResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
  /trainings/summaries:
    get:
      summary: Training summaries
      tags:
        - Trainings
      operationId: summariesPage
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          $ref: '#/components/responses/TrainingSummariesResponse'
components:
  schemas:
    EquipmentEnum:
      type: string
      enum:
        - fins
        - monofin
        - snorkel
        - board
        - paddles
    StartTypeEnum:
      type: string
      enum:
        - interval
        - pause
    GroupEnum:
      type: string
      enum:
        - sprint
        - middle
        - long
        - mono
        - bifi
    NewTrainingSet:
      type: object
      properties:
        setOrder:
          type: integer
          description: Indicates on what place in training this set is
          minimum: 0
          maximum: 32767
        repeat:
          type: integer
          description: How many times to repeat this set
          minimum: 1
          maximum: 32767
        distanceMeters:
          type: integer
          example: 400
          minimum: 1
          maximum: 32767
        description:
          type: string
          description: Description of what to swim
          example: Freestyle
        equipment:
          type: array
          items:
            $ref: '#/components/schemas/EquipmentEnum'
        startType:
          $ref: '#/components/schemas/StartTypeEnum'
        startSeconds:
          type: integer
          description: Used by starts which require a time parameter
          example: 60
          minimum: 1
          maximum: 32767
        group:
          $ref: '#/components/schemas/GroupEnum'
      required:
        - setOrder
        - repeat
        - distanceMeters
    NewTraining:
      type: object
      properties:
        start:
          type: string
          format: date-time
          description: On what date and time does the training occur
        durationMin:
          type: integer
          description: How long does the session last, in minutes
          minimum: 1
          maximum: 32767
          example: 60
        sets:
          type: array
          items:
            $ref: '#/components/schemas/NewTrainingSet'
      required:
        - start
        - durationMin
        - sets
    TrainingSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        start:
          type: string
          format: date-time
          description: On what date and time does the training occur
        durationMin:
          type: integer
          description: How long does the session last, in minutes
          example: 60
        totalDistance:
          type: integer
          description: Total distance in the training in meters
          example: 2200
      required:
        - id
        - start
        - durationMin
        - totalDistance
    ErrorDetail:
      type: object
      properties:
        title:
          type: string
          description: Short human-readable summary of the error
        status:
          type: integer
          description: HTTP result status
        code:
          type: string
          description: Machine understandable code of the error instance
        detail:
          type: string
          description: A human-readable explanation of the error
      additionalProperties: true
      required:
        - title
        - status
        - code
        - detail
    InvalidTrainingError:
      allOf:
        - $ref: '#/components/schemas/ErrorDetail'
      example:
        title: Invalid training session
        status: 400
        code: training.session.invalid
        detail: Submitted training is invalid...
    InvalidSetError:
      allOf:
        - $ref: '#/components/schemas/ErrorDetail'
      example:
        title: Set is not valid
        status: 400
        code: invalid.set
        detail: Set "1" is not valid
        setOrder: 1
    TrainingSet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        setOrder:
          type: integer
          description: Indicates on what place in training this set is
        repeat:
          type: integer
          description: How many times to repeat this set
        distanceMeters:
          type: integer
          example: 400
        description:
          type: string
          description: Description of what to swim
          example: Freestyle
        totalDistance:
          type: integer
          description: Total distance in this set
          example: 800
        equipment:
          type: array
          items:
            $ref: '#/components/schemas/EquipmentEnum'
        startType:
          $ref: '#/components/schemas/StartTypeEnum'
        startSeconds:
          type: integer
          description: Used by starts which require a time parameter, Interval and Pause
          example: 60
        group:
          $ref: '#/components/schemas/GroupEnum'
      required:
        - id
        - setOrder
        - repeat
        - distanceMeters
        - totalDistance
    Training:
      type: object
      properties:
        id:
          type: string
          format: uuid
        start:
          type: string
          format: date-time
          description: On what date and time does the training occur
        durationMin:
          type: integer
          description: How long does the session last, in minutes
          example: 60
        totalDistance:
          type: integer
          description: Sum of all distances in blocks in meters
          example: 2100
        sets:
          type: array
          items:
            $ref: '#/components/schemas/TrainingSet'
      required:
        - id
        - start
        - durationMin
        - totalDistance
        - sets
    NotFoundError:
      allOf:
        - $ref: '#/components/schemas/ErrorDetail'
      example:
        title: Resource was not found
        status: 404
        code: not.found
        detail: Resource with id 'aa1ed13a-6455-4d93-b788-bab98b08b40c' was not found
    InvalidSetOrderError:
      allOf:
        - $ref: '#/components/schemas/ErrorDetail'
      example:
        title: New set order is invalid
        status: 400
        code: invalid.setorder
        detail: Set order must be between X and y
    Pagination:
      description: Pagination metadata about paginated response
      type: object
      properties:
        total:
          type: integer
          description: Total count of all items
          example: 13
        page:
          type: integer
          description: Number of page returned
          example: 0
        pageSize:
          type: integer
          description: How many items are in page
          example: 10
      required:
        - total
        - page
        - pageSize
  requestBodies:
    CreateTrainingRequest:
      description: Request for creating a training
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewTraining'
    EditSessionRequest:
      description: Request for editing a training session
      required: true
      content:
        application/json:
          schema:
            type: object
            title: EditSessionRequest
            properties:
              start:
                type: string
                format: date-time
                description: On what date and time does the training occur
              durationMin:
                type: integer
                description: How long does the session last, in minutes
                example: 60
    EditSetRequest:
      description: Request for editing a set
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              repeat:
                type: integer
                description: How many times to repeat this set
              distanceMeters:
                type: integer
                example: 400
              description:
                type: string
                description: Description of what to swim
                example: Freestyle
              equipment:
                type: array
                items:
                  $ref: '#/components/schemas/EquipmentEnum'
              startType:
                $ref: '#/components/schemas/StartTypeEnum'
              startSeconds:
                type: integer
                description: Used by starts which require a time parameter, Interval and Pause
                example: 60
              group:
                $ref: '#/components/schemas/GroupEnum'
    MoveSetRequest:
      description: Request for moving set in order of training sets
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              newSetOrder:
                type: integer
                description: New setOrder of the set
            required:
              - newSetOrder
  responses:
    CreateTrainingReponse:
      description: New training was successfully created and summary about new training is returned
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TrainingSummary'
    InvalidTrainingResponse:
      description: Contains reason why training is invalid
      content:
        application/problem+json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/InvalidTrainingError'
              - $ref: '#/components/schemas/InvalidSetError'
    TrainingResponse:
      description: Response with a training
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Training'
    NotFoundResponse:
      description: Resource was not found
      content:
        application/problem+json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/NotFoundError'
    EditSessionResponse:
      description: Training successfully edited
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TrainingSummary'
    InvalidSessionResponse:
      description: Submitted training session is invalid
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/InvalidTrainingError'
    EditSetResponse:
      description: Set successfully edited
      content:
        application/json:
          schema:
            type: object
            properties:
              totalDistance:
                type: integer
                description: New recalculated total distance of the training
                example: 2100
              set:
                description: updated set
                $ref: '#/components/schemas/TrainingSet'
            required:
              - totalDistance
              - set
    InvalidSetResponse:
      description: Submitted training set is invalid
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/InvalidSetError'
    InvalidSetOrderResponse:
      description: Submitted new set order was invalid
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/InvalidSetOrderError'
    TrainingSummariesResponse:
      description: Paginated list of training summaries
      content:
        application/json:
          schema:
            type: object
            properties:
              summaries:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingSummary'
                  required:
                    - id
                    - start
                    - durationMin
                    - totalDistance
              pagination:
                $ref: '#/components/schemas/Pagination'
            required:
              - summaries
              - pagination
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Id of a resource
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      required: true
      description: Which page to return, starts at 0
      schema:
        type: integer
        example: 0
        minimum: 0
    PageSizeParam:
      name: pageSize
      in: query
      required: true
      description: How many resources to return
      schema:
        type: integer
        example: 10
        minimum: 1
